---
title: GitLab named a Visionary in 2020 Gartner Magic Quadrant for Enterprise Agile Planning Tools
author: Cormac Foster
author_gitlab: cfoster3
author_twitter: cormacfoster
categories: news
image_title: '/images/default-blog-image.png'
description: For the second consecutive year, Gartner validates our product vision.
tags: agile, workflow, inside GitLab
twitter_text: "GitLab named a Visionary in 2020 Gartner Magic Quadrant for Enterprise Agile Planning Tool"
featured: no
postType: corporate, Product Marketing
merch_banner: merch_one
cta_button_text: See what's next!
cta_button_link: /direction/dev/#fy21-plan-whats-next-for-dev
---

GitLab was recently named a 'Visionary' by Gartner in their 2020 Magic Quadrant for Enterprise Agile Planning Tools. We're pleased to be recognized once again, despite being a fairly new entrant into the space.

As we [build toward lovability](/direction/maturity/) over the next year, we're excited to be recognized by industry experts like Gartner. While we continue to increase our breadth and depth, we also plan to double down on the unique benefits our single-application approach provides.

In the video below, [Justin Farris](/company/team/#justinfarris), group manager of Plan, lays out the team's long-term vision, including our five [jobs to be done](/direction/dev/#plan-1):

<figure class="video_container">
<iframe src="https://www.youtube-nocookie.com/embed/bT60rJEoWhw" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

We recently released a suite of enhanced work planning and management features in [GitLab 13.2](/releases/2020/07/22/gitlab-13-2-released), with a lot more to come. Over the next twelve months, we plan to focus on three core areas:

### Building a world class Agile planning experience

> "Agile is the dominant means of creating software today because it enables organizations
> to respond to change quickly, to learn rapidly, and to deliver continuously. Making use of
> agile practices at scale is essential to digital business success." Gartner, Magic Quadrant
> for Enterprise Agile Planning Tools

We agree. In its many forms, [Agile](/solutions/agile-delivery/) is the way forward for modern business. We can't be everything to everyone, and we don't want to recreate the same bloated project management solutions enterprises have been using for years. But we **do** want to be the best solution for managing Agile projects and portfolios that you can use to take your business forward.

To that end, we're focused on delivering solutions that help you elevate your Agile planning from project management to portfolio planning, regardless of industry or tool choice. We recently released a [requirements management](https://docs.gitlab.com/ee/user/project/requirements/) feature, which will open opportunities to use GitLab for entirely new businesses, and we launched a vastly improved [Jira import process](https://docs.gitlab.com/ee/user/project/import/jira.html) to make it easier to transition to a GitLab workflow. While we continue to iterate on both of those, we'll also be improving the overall management experience with easier-to-use [Kanban boards](/direction/plan/kanban_boards/), [enhanced portfolio and group roadmaps](https://docs.gitlab.com/ee/user/group/roadmap/), and more robust epics and milestones.

### Visibility and value stream management

Of course, you can't plan without data, so visibility is another key driver of our roadmap. [Value stream management](/direction/manage/value_stream_management/) is a hot topic these days. To many, it's a refocusing of decades-old [value stream mapping](https://en.wikipedia.org/wiki/Value-stream_mapping) techniques to the software development lifecycle, measuring value added throughout the software development process and identifying inefficiencies that might keep you from delivering more.

Measurement is an essential part of the process, but at GitLab, we can also help you close the loop and take action – the "management" of that value stream. As a single application for the [DevOps lifecycle](/topics/devops/), GitLab has the unique ability to help you discover process bottlenecks, drill into the sources of waste for the root cause, and actually make changes to address them, whether that's reassigning an MR, mentioning someone to unblock the issue, or committing code changes.

In recent releases, we unlocked more flexible value stream workflows with [customizable value stream analytics](https://docs.gitlab.com/ee/user/analytics/value_stream_analytics.html#customizable-value-stream-analytics) and surfaced value metrics to more personas with [compliance](https://docs.gitlab.com/ee/user/application_security/compliance_dashboard/index.html) and [security dashboards](https://docs.gitlab.com/ee/user/application_security/security_dashboard/#instance-security-dashboard). In the coming months, we'll continue to enhance our drill-down reporting and resolution, focusing on additional value metrics, additional dashboards, and automated recommendations for action.

### Our customers

Of course, as happy as we are to be recognized by Gartner, our users are the most important source of product guidance. At GitLab, everyone can contribute, and we wouldn't be the same company without the active participation of our users. That's why we've made our [maturity plan](/direction/maturity/) and [product vision](/direction/#vision) public and open for comment. For more information about enterprise Agile Planning in the coming year, please read our [FY21 Plan](/direction/dev/#fy21-plan-whats-next-for-dev)—and let us know what you think!

### Related links

* [2020 Magic Quadrant for Enterprise Agile Planning Tools (available to Gartner subscribers)](https://www.gartner.com/document/3983813?ref=solrAll&refval=255086013)
* [We're dogfooding a tool to help visualize high-level trends in GitLab projects](/blog/2020/01/30/insights/)
* [How Marketing uses GitLab to manage complex projects](/blog/2019/12/11/gl-for-pm-prt-2/)

_Gartner "Magic Quadrant for Enterprise Agile Planning Tools," Keith Mann, et al, 21 April 2020
Gartner does not endorse any vendor, product or service depicted in its research publications and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s Research & Advisory organization and should not be construed as statements of fact. Gartner disclaims all warranties, expressed or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose._
