---
layout: handbook-page-toc
title: "Plan stage Performance Indicators"
description: “Discover the Plan stage Performance Indicators for GitLab’s Development sub-department”
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<%= partial "handbook/engineering/development/performance-indicators/partials/team_dashboard.erb", locals: { filter_type: "stage", filter_value: "Plan" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Project Management" } %>

<%= partial "handbook/engineering/development/performance-indicators/partials/child_dashboard.erb", locals: { filter_type: "group", filter_value: "Product Planning" } %>
